name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: windows-latest

    env:
      Solution_Name: BDSP.slnx                        # Replace with your solution name, i.e. MyWpfApp.sln.
      Test_Project_Path: BDSP.Core.Tests\BDSP.Core.Tests.csproj

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v2

      - name: Execute All Tests
        run: dotnet test
