name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore
        run: dotnet restore BDSP.slnx

      - name: Build
        run: dotnet build BDSP.slnx -c Release --no-restore

      - name: Test
        run: dotnet test BDSP.slnx -c Release --no-build
